body {
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-nav, .navbar-text {
    font-size: 14px;
    font-weight: 400;
}
.intro {
    height: calc(100vh - 59px);
}
.intro .display-4 {
    font-weight: 700;
}
.intro p {
    font-weight: 300;
}
.intro .btn {
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
