body {
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-nav {
    font-size: 14px;
    font-weight: 400;
}
.intro {
    height: 100vh;
}
.intro .display-4 {
    font-weight: 700;
}
.intro p {
    font-weight: 300;
}
